paper.pdf

*.synctex

*.blg
*.blg


*.bak
paper.synctex.gz
*.blg
paper.bbl
*.out

*.xlsx
contex/figure/*.*
*.csv
*.log
*.log
*.vsd
results - 副本.tex
figure/govedp1.pdf
figure/chromium.pdf
figure/3g.pdf
figure/3g.vsd
figure/3g_governor.opj
figure/3gpowersave.emf
figure/chromium.pdf
figure/3gpowersave1.emf
figure/deployment1.vsd
*.vsd
figure/Graph1.pdf
paper1.pdf
figure/network.opj
figure/motivatione_load4pages.opj
figure/frequency_energy.vsd
figure/frequency_energy.vsd
.pdf
*.R
*.txt
*.docx
Main.pdf
Main.syntax.gz
*.aux
Main.pdf
